<app-layout [withBackLink]="true" link="/" title="Retour à la page de connexion">
  <div class="img-xs">
    <img src="../../../../assets/logo_p6.png" alt="logo" />
  </div>
  <form (ngSubmit)="submit()">
    <div>
      <h1>Inscription</h1>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field appearance="outline">
          <mat-label>Nom d'utilisateur</mat-label>
          <input matInput formControlName="username" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Adresse e-mail</mat-label>
          <input matInput formControlName="email" type="email" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Mot de passe</mat-label>
          <input matInput formControlName="password" type="password" />
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">S'inscrire</button>
      </form>
      <p *ngIf="onError" class="error">Une erreur est surtvenue</p>
    </div>
  </form>
</app-layout>