<app-layout>
  <h1>Profil utilisateur</h1>
  <p *ngIf="updateValid" class="update--valid">Profil mis à jour</p>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" [value]="user.username" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Sauvegarder</button>
  </form>

  <button mat-button class="logout" label="Se DV" (click)="logout()">Se déconnecter</button>
  <mat-divider></mat-divider>
  <h2>Abonnements</h2>
  <card-list>
    <app-theme-card *ngFor="let theme of themesSubcriptions" [theme]="theme"></app-theme-card>
  </card-list>
</app-layout>