spring.application.name=MDDApi
logging.level.org.springframework=error

#server config
server.host=http://localhost:
server.port=3001
server.servlet.contextPath=/api

# Your DB secrets here
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQLDialect

jwt.secret=