@import ".../../../../../styles/main.scss";

mat-form-field {
  display: block;
  width: 250px;
  margin: auto;

  @include md() {
    width: 280px;
  }
}

[matInput] {
  border: 2px solid #000000;
}
