<app-layout [withBackLink]="true" link="/articles" title="Retour à la liste des articles">
  <div>
    <h1>Créer un article</h1>
    <form [formGroup]="articleForm" (ngSubmit)="submit()">
      <mat-form-field appearance="outline">
        <mat-label>Theme</mat-label>
        <mat-select formControlName="theme">
          <mat-option *ngFor="let theme of themes" [value]="theme.id">{{theme.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Titre</mat-label>
        <input matInput formControlName="title" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="article-content">
        <mat-label>Contenu de l'article</mat-label>
        <textarea matNativeControl formControlName="content"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" class="submit-btn"
        [disabled]="articleForm.invalid">Créer</button>
    </form>
    <p *ngIf="onError" class="error">Une erreur est survenue</p>
  </div>
</app-layout>