<app-layout>
  <div class="button-container">
    <a routerLink="/articles/create" mat-flat-button color="primary">Créer un article</a>
    <button mat-flat-button (click)="handleSort()">
      <span class="button-content-container">
        <span>Trier par</span>
        <mat-icon *ngIf="sortingASC">arrow_downward</mat-icon>
        <mat-icon *ngIf="!sortingASC">arrow_upward</mat-icon>
      </span>
    </button>
  </div>
  <card-list *ngIf="loaded else loading">
    <article-card *ngFor="let article of articles" [article]="article"></article-card>
  </card-list>
  <ng-template #loading>
    <p>Chargement en cours...</p>
  </ng-template>
</app-layout>