@import "../../../../../styles/main.scss";

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  margin-bottom: 25px;

  @include sm() {
    flex-direction: row;
    justify-content: space-between;
  }
}

main {
  padding: 30px 35px 20px 35px;
}
