.cdk-overlay-pane {
  height: 100vh;
  width: 100%;
  justify-content: end;

  .userIcon {
    border-radius: 48px;
    background: #d9d9d9;
    min-width: 48px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 25px;
      height: 28px;
    }
  }

  .mobilePanelMenu {
    min-height: 100vh;
    height: 100vh;
    position: absolute;
    text-align: right;
    top: 0;
  }
}

.mobileMenuBackdrop {
  background: rgba(239, 239, 239, 0.7);
}

.cdk-overlay-connected-position-bounding-box {
  position: sticky !important;
  top: 0 !important;
  width: 100% !important;
  height: 100vh !important;
}

#mat-menu-panel-0 {
  width: 180px;
  border-radius: 0;
  height: 100vh;
  max-height: 100vh;
  transform-origin: right top;
  overflow: hidden;
}

.mat-mdc-menu-content {
  height: 100%;
}

.mat-mdc-menu-panel {
  width: 180px;
}

.mobileMenuItem {
  justify-content: right !important;
}

.mobileLinksContainer {
  padding-top: 50px;
  padding-bottom: 15px;
  height: -webkit-fill-available;
  height: -moz-available;
  display: flex;
  flex-direction: column;

  & a:last-child {
    margin-top: auto;
    align-self: flex-end;
    margin-right: 15px;
    display: flex;
    justify-content: center !important;
    align-items: center;
    span {
      overflow: unset;
    }
  }
}

.mat-mdc-menu-panel.mat-mdc-menu-panel {
  overflow: hidden !important;
}
