/* You can add global styles to this file, and also import other style files */

$grey-background: #f5f5f5;
$alert-color: #a40f0f;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  border-radius: 8px;
}
