@import "../../../styles/main.scss";

header {
  padding: 10px 40px 10px 20px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .activeLink {
    span {
      color: #6c5ccf !important;
    }
  }

  .profileLink {
    border: 3px solid #6c5ccf;
    svg {
      stroke: #6c5ccf;
    }
  }

  nav {
    width: 350px;
  }

  img {
    width: 140px;

    @include xs() {
      width: 100px;
    }
  }

  .hamburger {
    display: block;
    margin-left: auto;

    @include sm() {
      display: none;
    }
  }

  .sm-list {
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-align: center;

    [mat-list-item] {
      font-size: 20px;
    }

    .userIcon {
      border-radius: 48px;
      background: #d9d9d9;
      min-width: 48px;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 25px;
        height: 28px;
      }
    }

    @include xs() {
      display: none !important;
    }
  }
}
